[Unit]
Description=ahead
Requires=network.target

[Service]
Type=notify
User=app
ExecStart=/var/lib/ahead/ahead -config /etc/ahead.toml start
WorkingDirectory=/var/lib/ahead

Restart=always

StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=ahead

[Install]
WantedBy=default.target
